html, body {
  font-size: 19px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  background-color: #161614;
  background-image: url('desktop.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.container {
  min-height:100%;
  position:relative;
}
#header {
  padding: 10px;
}
#body {
  padding: 10px 10px 60px 10px;
}
#footer {
  position:absolute;
   bottom:0;
   width:100%;
   height:60px;
}

h1 {
  color: #FDA458;
}
ul {
  list-style-type: none;
}
.text-black {
  color: #161614;
}
.button-share {
  border-radius: 2px;
  background-color: #FDA458;
  box-shadow: 0 0 4px 0 #2f333a;
  border: 0;
  margin: 30px 30px 30px 0;
  padding: 10px 20px 10px 20px;
}
a:focus {
  outline: thin dotted #333;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.center-popup {
  background: #161614;
  z-index: 4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translate(0, 30%);
}
.form-popup {
  display: none;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #FDA458;
}
.cancel-button {
  border: 1px #999 solid;
  float: right;
  color: #FDA458;
}
.white-part-popup {
  background: white;
  padding: 45px;
  height: 100%;
}
.black-part-popup {
  padding: 45px;
}
.popup-text {
  margin: 30px 0 15px 0;
}


@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?34059099');
  src: url('./font/fontello.eot?34059099#iefix') format('embedded-opentype'),
     url('./font/fontello.woff?34059099') format('woff'),
     url('./font/fontello.ttf?34059099') format('truetype'),
     url('./font/fontello.svg?34059099#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
    }

.minus-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  color: #FDA458;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
   text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.set-container-middle {
  transform: translate(0, 50%);
}
form input, textarea {
  padding: 5px;
  margin: 5px;
  border: none;
  width: 100%;
  background: white;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #828282;
}

.form-send-button {
  position: absolute;
  border: 0;
  outline: 0;
  color: #FDA458;
  float: right;
}
@media only screen and (max-width: 600px) {
  body {
    background-image: url('mobile.png');
    font-size: 18px;
  }
  .set-container-middle {
   transform: translate(0, 30%);
  }
  form input, textarea {
    width: 100%;
  }
  .mobile-invisible {
    display: none;
  }
  .center-popup {
    transform: translate(0, 0);
    margin: 20px 0 20px 0;
  }
}
